/* Note: 1em = 16px */
:root{
    --primary-blue: #669ED3;
    /* --primary-pink: #FFAFF0; */
    --primary-pink: #D957A0;
    --second-pink: #FFAFF0;
    --third-blue: #E2F1FF;

    --second-blue:#0A6F9F;
    --alternative-green: #6EB91B;
    --alternative-black: #302E2E;
    --alternative-white: #FDFEFD; 

    --header-height: 5em; /* Was originally 8em */
    --remaining-space-total: calc(100vh - var(--header-height));
}

button{
    cursor: pointer;
}

h1{
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
    color: var(--primary-pink);
}

h2{
    margin: 0;
    color: var(--primary-pink);
    font-size: 1.75rem;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body{
    margin: 0px;
    padding: 0px;
    background-color: var(--alternative-white);
    color: var(--alternative-black);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    scrollbar-color: transparent;
    text-align: justify;
    
}

div{
    box-sizing: border-box;
    flex-direction: column;
}

.white-on-blue{
    background-color: var(--primary-blue);
    color: white;
}

.section{
    height: fit-content;
    width: 100%;
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.decorative-line{
    display: block;
    margin: auto;
    max-width: 100%;
    /* margin-bottom: 5px; */
}

.bubbles{
    background-image: url('../pictures/Bubbles.png'), url('../pictures/Bubbles2.png');
    background-attachment: fixed; /* Creates Parallax Effect (scrolling effect) */
    background-size: 28rem, 11rem;
    position: relative;
    z-index: 1;
}

.bubbles::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .8) 70%);
    z-index: -1;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
    background-color: var(--alternative-white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-pink);
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover{
    /* background-color: var(--primary-pink); */
    cursor: pointer;
}

@media (min-width: 768px){
    html, body{
        text-align: left;
    }

    div{
        flex-direction: row;
        box-sizing: border-box;
    }

    .section{
        height: 100vh;
    }

    h2{
        font-size: 2rem;
    }
}